
<nav class="navbar menubar">

  <div  >
      <div style="float: left; padding-left: 70px;" >
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
      <div  class="name" >
       Olá,  {{usuarioLogado}}
      </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li  class="navbar-usuario">{{ usuarioLogado }}  <i (click)="exibindoMenu = !exibindoMenu" style="cursor: pointer;float: right;" class="pi pi-times"></i> </li>
    <li  routerLink="/lancamentos" (click)="exibindoMenu = !exibindoMenu" class="navbar-menuitem" routerLinkActive="ativo"><a >Lançamentos</a></li>
    <li routerLink="/pessoas"  (click)="exibindoMenu = !exibindoMenu"  *ngIf="temPermissao('ROLE_PESQUISAR_PESSOA')" class="navbar-menuitem"routerLinkActive="ativo"><a >Pessoas</a></li>
    <hr  >
    <li class="navbar-menuitem"(click)="logout()"><a style="cursor: pointer;">Sair</a></li>
  </ul>

</nav>
