.navbar {
  padding: 20px 0 10px;
  background-color: #1e94d2;
}

.navbar-toggle {
  color: #fff;
}


.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 99;

  background-color: #3a3633;

  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
  font-weight: bold;
  color: #fff;
}
.name{
  padding: 0px;
  margin-bottom: 0px;
  float: right;
  padding-right: 70px;
  font-weight: bold;
  color: #fff;
}
.navbar-menuitem {
  padding: 15px;
  cursor: pointer;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem:hover {
  background-color: #555250;;
}
.navbar-menuitem.ativo{
  background-color: #696664;
}
.menubar{
  position: fixed;
  right: 0;
  top: 0%;
  z-index: 999;
  width: 100%;
}
